hiddify-core/bin/hiddify-core.dylib filter=lfs diff=lfs merge=lfs -text
hiddify-core/bin/hiddify-core.dll filter=lfs diff=lfs merge=lfs -text
hiddify-core/bin/lib/hiddify-core.so filter=lfs diff=lfs merge=lfs -text
hiddify-core/bin/*.tar.gz filter=lfs diff=lfs merge=lfs -text
ios/Frameworks/HiddifyCore.xcframework/** filter=lfs diff=lfs merge=lfs -text
ios/Frameworks/*.tar.gz filter=lfs diff=lfs merge=lfs -text
